body{
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    margin: 0px;

}
.laric-container {
    width: 1260px;
    margin: 0px auto;
    height: inherit;
    position: relative;

}
#laric-info {
    height: 590px;
    background-image: url(../Laric/Images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.laric-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}


.laric-info{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.laric-info-Nav{
    display: flex;
    align-items: center;
    padding: 30px 0px;


    
}

    

.laric-info-Nav ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    

}
.laric-info-Nav ul li a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 1.1em;
    transition: all .5s  linear;
    
    
    
}
.laric-info-Nav ul li a:hover {
    background: rgb(164, 2, 73);
}
.laric-sms-container{
    width: 1260px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    margin-top: 60px
}
.laric-answer h1{
    font-size: 23px;
    padding: 0px;
    margin: 0px;

}
.laric-menyu input{
    width: 200px;
    height: 52px; 
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px 20px;
    font-size: 17px;

}
  .laric-sent button{
      width: 200px;
      height: 52px;
      box-sizing: border-box;
      border-radius: 10px;
      margin: 10px 20px;
      background-color:rgb(164, 2, 73);
      

 }
 .laric-static {
     margin: 10px 20px;

 }
 .laric-static-answer{
     position: relative;
     left: 125px;
     
 }
 .laric-static-icon {
     display:inline-block;
     
 }
 .laric-static-icon img{
     margin-left: 300px;
     position: relative;
     top: 30px;

     
 }
 .laric-static-icon h5{
     margin-left: 325px;
     position: relative;
     top: 30px;
     font-size: 25px;

 }
 .laric-static-icon p{
     margin-left: 280px;
     position: relative;
     top: 30px;

 }
 
 .laric-popular p{
     font-size: 24px;
     font-weight: 500;
     color: rgb(164, 2, 73);
     
     
 }
 .popular {
     display: inline-block;
     position: relative;
    padding: 81px 150px;

 }
 .laric-product{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 15px;
      
 }
 .laric-nav{
     text-align: center; 
      }
 .laric-nav img{
     width: 286px;
     height: 215px;
 }
.laric-nav h5{
    font-size: 22px;
    display: block;
    margin: 10px 20px;
}




.laric-product main{
    display: flex;
    flex-wrap: wrap;
    
}

.clean{
    width: 550px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3dc34d;
    border-radius: 10px;
    margin: 36px 72px;
}
.clean img{
    width: 240px;
    height: 240px;
    padding: 63px 63px;

}
.clean h4{
    color: white;
    display: flex;
    position: relative;
    padding: 0px 4px;
    font-size: 24px;
    align-items: center;
    top: -91px;
    margin: 0px auto;
}
.car-clean{
    width: 840px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(143, 77, 165);
    margin: 36px -60px;
}
    .car-clean img{
        width: 240px;
        height: 240px;
        padding: 63px 63px;
    }
    .car-clean h4{
        color: white;
        display: flex;
        position: relative;
        align-items: center;
        top: -91px;
        right: 0px;
        padding: 55px;
        font-size: 24px;
        width: 130px;
    }
    .laric-product-main{
        display: flex;
        flex-wrap: wrap;
    }
    .Id-clean{
        width: 460px;
         height: 400px;
         display: flex;
         justify-content: space-between;
        align-items: center;
         border-radius: 10px;
         background-color: #1561a9;
         margin: -12px 70px;
    }
    .Id-clean img{
        width: 240px;
        height: 240px;
        padding: 15px;
    }
    .Id-clean h4{
        color: white;
        display: flex;
        position: relative;
        font-size: 24px;
        align-items: center;
        top: -90px;
        margin: 0px;
        width: 130px;
        right: 78px;
    }
    
.wash-clean{
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #c1327b;
    margin: -12px -44px;
}
.wash-clean img{
    width: 240px;
    height: 240px;
    padding: 15px;
}
.wash-clean h4{
    color: white;
    display: flex;
    position: relative;
    font-size: 24px;
    align-items: center;
    top: -111px;
    margin: 0px;
    width: 130px;
    left: 88px;
}
.banner-clean{
    width: 556px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #3f3e32;
    position: relative;
    left: 70px;
    bottom: 12px;

    
}
.banner-clean img{
    width: 240px;
    height: 240px;
    padding: 15px;

}
.banner-clean h4{
    color: white;
    display: flex;
    position: relative;
    font-size: 24px;
    align-items: center;
    top: -111px;
    margin: 0px;
    width: 130px;
    left: 26px;
}

     














   
 

    


 
 
 
 